# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
* List popular languages for Data Science
* Some of the commonly used libraries used by Data Scientists include:
* Below are a few examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
### 1. Python
### 2. R
### 3. SQL

## Some of the commonly used libraries used by Data Scientists include:
## 1. Pandas
## 2. NumPy
## 3. Matplotlib

| Data Science Tools |
| ------------------ |
| R studio |
| Jupyter Notebook |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
a=10
b=9
print(a+b)
print(a*b)
print(a-b)

19
90
1

### This a simple arithmetic expression to mutiply then add integers

In [4]:
print((3*4)+5)

17

### This will convert 200 minutes to hours by diving by 60

In [5]:
print(200/60)

3.3333333333333335

## Author: Shrihan Thokala